.ace_content {
  font-family:
    'SFMono-Regular',
    Consolas,
    'Liberation Mono',
    Menlo,
    Courier,
    monospace;
}

.mask-editor {
  .ace_content {
    font-family: 'AllBullets', monospace;
  }
}

.popover-content {
  padding: 2px;

  .dropdown {
    text-align: center;
    margin-bottom: 5px;

    button {
      color: #1e1d24;
    }

    #settings-dropdown {
      min-width: unset;
    }
  }
}

.editor-modal {
  .modal-content {
    height: -webkit-fill-available;
  }

  .modal-header {
    #diff-radio-buttons {
      margin-bottom: unset;
      margin-right: 15px;

      button {
        outline: none;
      }
    }

    #editor-modal-h4 {
      float: left;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 700px;
    }
  }

  .modal-dialog {
    padding: 15px;
    width: auto !important;

    .input.modal-body {
      background-color: #363636;
    }

    .modal-body {
      padding: 0;
      overflow: auto;
      height: 100%;

      .ace_editor {
        border: none;
      }

      #diff-table {
        max-height: 80vh;

        div {
          border: none;
        }
      }
    }

    .input.modal-header.monokai,
    .preview.modal-header.monokai {
      background-color: #363636;

      h4 {
        color: #fff;
      }

      .pficon-close {
        color: #fff;
      }
    }
  }
}

.navbar-editor {
  padding: 2px !important;
  height: 40px;
  min-height: unset !important;

  .preview_select {
    display: inline-block;
    width: 300px;
    float: left;
    margin-right: 5px;
  }

  .btn-group {
    padding: 4px;
  }

  .btn[disabled] {
    cursor: unset;
  }

  #editor-dropdowns {
    float: right;

    #diff-radio-buttons {
      float: left;
      margin-right: 5px;

      button {
        outline: none;
      }
    }

    #divider {
      float: left;
      font-size: 18px;
      margin-top: 6px;
      font-weight: 200;
      color: #c5c5c5;
      cursor: default;
      user-select: none;
    }

    button:enabled :not(#diff-radio-buttons) {
      color: #1e1d24;
    }

    button:hover:enabled :not(#diff-radio-buttons) {
      color: rgb(75, 79, 94) !important;
    }
  }

  .rbt {
    width: 275px;
    margin-left: 5px;
    float: right;

    .rbt-aux {
      right: 0;
    }

    input.rbt-input-main {
      width: 275px;
    }
  }
}

#hide-btn {
  width: 40px !important;
  font-size: 15px;
  margin-top: -4px;
}

#fullscreen-btn {
  width: 40px !important;
  font-size: 14px;
  margin-bottom: 2px;
}

#cog-btn {
  width: 40px !important;
  font-size: 16px;
  margin-bottom: 2px;
}

#import-btn,
#undo-btn {
  width: 40px !important;
  font-size: 16px;
}

.ace_editor_form {
  position: relative !important;
  height: 360px !important;
  width: 100% !important;
}

.ace_editor_modal {
  width: 100% !important;
  height: -webkit-fill-available !important;
}

#editor-container {
  div.navbar-editor {
    .btn-link {
      outline: none;
    }
  }

  #diff-table {
    height: 360px;

    .diff {
      border-bottom: 1px solid #e8e9ea;
    }
  }
}

#preview_error_toast {
  display: block;
  margin-bottom: 15px;
}
